<p id="notice"><%= notice %></p>

<% if @curriculums.empty? %>
  <h3>There are no curriculums in the system at this time</h3>
<% else %>
  <div class = "row">
  <%= render :partial => "partials/title_with_search", locals: {title: "Curriculums"} %>
  
  <% if can? :create, Curriculum %>
    <div class = "col s2">
      </br>
      <%= link_to new_curriculum_path do %>
        <div class="btn-floating btn-large waves-effect waves-light black">
          <i class="material-icons">  add </i>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<table class="striped">
    <tr>
      <th>Curriculum Name</th>
      <th> Ratings </th>
      <th> Times Used </th>
      <th></th>
    </tr>

  <% @curriculums.each do |curriculum| %>
    <tr>
      <td><%= link_to curriculum.name, curriculum_path(curriculum) %></td>
      <td><%= rating(curriculum) %>  </td> 
      <td><%= curriculum.camps.to_a.size %></td>
      <% if can? :edit, Curriculum %><td class = "align_center"><%= link_to edit_curriculum_path(curriculum) do %>
            <i class="material-icons">edit</i>
          <% end %></td><% end %>
    </tr>
  <% end %>
  </table>
  <br />

    <% end %>