<% if @active_camps.empty? %>
  <h3>There are no camps in the system at this time</h3>
<% else %>
  <div class = "row">
  <%= render :partial => "partials/title_with_search", locals: {title: "Camps"} %>
  
  <% if can? :create, Camp %>
    <div class = "col s2">
      </br>
      <%= link_to new_camp_path do %>
        <div class="btn-floating btn-large waves-effect waves-light black">
          <i class="material-icons">  add </i>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

  <table class="striped">
    <tr>
      <th>Camp Name</th>
      <th>Start Date</th>
      <th>Time Slot </th>
      <th>Remaining Slots</th>
      <th>Location </th>
      <th></th>
    </tr>
  <% @active_camps.to_a.each do |camp| %>
    <tr>
      <td><%= link_to camp.name, camp_path(camp) %></td>
      <td><%= camp.start_date.strftime("%m/%d/%y") %> </td> 
      <td><%= time(camp) %></td>
      <td><%= camp.max_students - camp.registrations.count %></td>
      <td><%= link_to camp.location do %> <%= camp.location.name %> <% end %></td>
      <% if can? :edit, Camp %><td><%= link_to edit_camp_path(camp) do %>
            <i class="material-icons">edit</i>
          <% end %></td><% end %>
    </tr>
  <% end %>
  </table>


<% end %> </br>

<span class="paginate">
  <%= will_paginate @active_camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", :param_name => 'active_camps' %>
</span>

