<% if current_user.role?(:admin) %>
<% if @inactive_camps.empty? %>
  <h4>There are no inactive camps at this time.</h4>
<% else %>
  <h3>Inactive Camps</h3>
  
  <table class="striped">
    <tr>
      <th>Camp Name</th>
      <th>Start Date</th>
      <th>Time Slot </th>
      <th>Remaining Slots</th>
      <th>Location </th>
      <th></th>
    </tr>
  <% @inactive_camps.to_a.each do |camp| %>
    <tr>
      <td><%= link_to camp.name, camp_path(camp) %></td>
      <td><%= camp.start_date.strftime("%m/%d/%y") %> </td> 
      <td><%= time(camp) %></td>
      <td><%= camp.max_students - camp.registrations.count %></td>
      <td><%= link_to camp.location do %> <%= camp.location.name %> <% end %></td>
      <% if can? :edit, Camp %><td><%= link_to edit_camp_path(camp) do %>
            <i class="material-icons">edit</i>
          <% end %></td><% end %>
    </tr>
  <% end %>
  </table>

<% end %>

<span class="paginate">
  <%= will_paginate @inactive_camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", :param_name => 'inactive_camps' %>
</span>

<% end %>