<div id="form-template">

  <!-- create an empty camp student object to work with -->
  <% @registration = Registration.new %>
  <!-- now the form template itself -->
  <div class="row">
    <div class="col">
      <h5>New Student:</h5>
      <%= simple_form_for(@registration) do |f| %>
        <%= f.error_notification %>
        <div class="row">
          <div class="form-inputs">
            <%= f.input :student_id, collection: Student.active.alphabetical.to_a, include_blank: true %>
            <%= f.input :camp_id, as: :hidden, input_html: { value: @camp.id } %>
          </div>
        </div>
        <div class="row">
          <div class="form-actions col s8">
            <%= f.button :submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
 