<p id="notice"><%= notice %></p>

<% if @instructors.empty? %>
  <h3>There are no instructors in the system at this time</h3>
<% else %>
  <div class = "row">
  <%= render :partial => "partials/title_with_search", locals: {title: "Instructors"} %>
  
  <% if can? :create, Instructor %>
    <div class = "col s2">
      </br>
      <%= link_to new_instructor_path do %>
        <div class="btn-floating btn-large waves-effect waves-light black">
          <i class="material-icons">  add </i>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>

  <table class="striped">
    <tr>
      <th> Name</th>
      <th> Phone </th>
      <th> Camps</th>
      <th></th>
    </tr>

  <% @instructors.each do |instructor| %>
    <tr>
      <td><%= link_to instructor.name, instructor_path(instructor) %></td>
      <td><%= reformat_phone(instructor.phone) %></td>
      <td><%= instructor.camps.to_a.size %></td>
      <% if can? :edit, Instructor %><td class = "align_center"><%= link_to edit_instructor_path(instructor) do %>
            <i class="material-icons">edit</i>
          <% end %></td><% end %>
    </tr>
  <% end %>
  </table>
  <br />

<span class="paginate">
  <%= will_paginate @instructors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", :param_name => 'instructors' %>
</span>

    <% end %>

