<p class="supertiny">&nbsp;</p>

<div id="footer" class="center-align">
  
  <%= link_to 'Home', home_path %>&nbsp;&nbsp;|
  <%= link_to 'About', about_path %>&nbsp;&nbsp;|
  <%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;|
  <%= link_to 'Privacy Policy', privacy_path %>
  <br/>
  <br/>
  <div id="copy">
    &copy Webmaster: <%= mail_to("ameeshig@cmu.edu", "Ameeshi", encode: "javascript") %> 2018
  </div>
  <br />

</div>
