<% opt = "#{object.respond_to?(:proper_name) ? object.proper_name : (object.respond_to?(:name) ? object.name : model_name.capitalize) }" %>

<div class="form-actions">
  <% if can? :index, eval(model_name.capitalize) %>
   <%= link_to(eval("#{model_name.pluralize}_path"), class: 'waves-effect waves-light btn black') do %>
    &nbsp;Display All 
  <% end %>
    &nbsp;&nbsp;
  <% end %>
  
  <% if can? :edit, object %>
    <%= link_to(eval("edit_#{model_name}_path(object)"), class: 'waves-effect waves-light btn cyan') do %>
      &nbsp;<%= "Edit" %>
    <% end %>
    &nbsp;&nbsp;
  <% end %>
  
  <% if can?(:destroy, object) && controller.respond_to?(:destroy) %>
 <%= link_to(eval("#{model_name}_path(object)"), method: 'delete', data: {confirm: "Are you sure you want to permanently delete this #{model_name}"}, class: 'waves-effect waves-light btn btn-alert red') do %>
      &nbsp;<%= "Delete" %>
  <% end %>
  <% end %>
</div>