<%= simple_form_for(@location) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-inputs">
      <%= f.input :name, label_html: { class: 'active' } %>
      <%= f.input :street_1, label_html: { class: 'active' } %>
      <%= f.input :street_2, label_html: { class: 'active' } %>
      <%= f.input :city, label_html: { class: 'active' } %>
      <%= f.input :state, label_html: { class: 'active' }, collection: Location::STATES_LIST, include_blank: true %>
      <%= f.input :zip, label_html: { class: 'active' } %>
      <%= f.input :max_capacity, label_html: { class: 'active' } %>
      <%= f.input :active %>
    </div>
  </div>
  <div class="row">
    <div class="form-actions col s8">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>

  