<% if current_user.role?(:admin) %>
<% if @inactive_locations.empty? %>
  <h4>There are no inactive locations at this time.</h4>
<% else %>
  <h3>Inactive Locations</h3>

  <table class="striped">
    <tr>
      <th> Name </th>
      <th> Address </th>
      <th> Capacity </th>
      <th> </th>
    </tr>

  <% @inactive_locations.each do |location| %>
    <tr>
      <td><%= link_to location.name, location_path(location) %></td>
      <td><%= render :partial => "partials/address_info", locals: {location: location} %></td>
      <td><%= location.max_capacity %></td>
       <% if can? :edit, Location %> <td class = "align_center"><%= link_to edit_location_path(location) do %>
            <i class="material-icons">edit</i>
          <% end %></td><% end %>
    </tr>
  <% end %>
  </table>

<% end %>

<span class="paginate">
  <%= will_paginate @inactive_locations, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", :param_name => 'inactive_locations' %>
</span>

<% end %>