<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>A&M Chess Camp :: <%= controller.controller_name.capitalize %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render :partial => "partials/nav" %>
    
    <div class="row">
      <div class="container" id="main_content">
        <%= render :partial => "partials/flash" %>
        <br></br>
        <%= yield %>
      </div>
    </div>
    <footer>
      <div class="center-align" id="footer">
        <%= render partial: 'partials/footer' %>
      </div>
    </footer> 
  </body>
</html>
